*,
*::before,
*::after {
  box-sizing: border-box;
}

//Remove default margins and padding
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

// Root defaults
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Make body inherit heights and look clean
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

// Img responsive and block
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

//Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}
