//Colors
$bg: #0a0e10;
$text-primary: #8a8c8e;
$text-secondary: #f0f1f0;
$accent-primary: #d43d85;
$accent-muted: #76274b;
$accent-alt: #53bdc1;
$border-color: #ffffff0a;

//Fonts
$font-heading: "Space Grotesk", sans-serif;
$font-body: "Space Grotesk", sans-serif;
$font-mono: "JetBrains Mono", monospace;
